$dark-text-color: #a8a8a8;
:host {
  position: relative;
  z-index: 1000;
  color: #adadad;
  span {
    padding: 0.1rem;
    padding-inline: 0.4rem;
    border-radius: 3px;
    &:hover {
      background: #282828;
    }
  }
}
