:host {
  width: 4rem;
  height: 98%;
  background: #1a181a;
  display: flex;
  border-top: solid 1px #1f1f1f;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  box-sizing: border-box;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    img {
      width: 1.6rem;
      cursor: pointer;
    }
    .tab {
    }
    .tab.active {
      border-left: solid #ff1d5a;
    }
  }
}
