<div>
  <div class="tab" [class.active]="activeBar == 'FileExplorer'">
    <img
      src="assets/file-explorer-icon.svg"
      alt="file-explorer"
      (click)="setActiveBar('FileExplorer')"
    />
  </div>
  <div class="tab" [class.active]="activeBar == 'Extensions'">
    <img
      src="assets/extension-icon.svg"
      alt="extension"
      (click)="setActiveBar('Extensions')"
    />
  </div>
  <div class="tab" [class.active]="activeBar == 'Search'">
    <img
      src="assets/search-icon.svg"
      alt="search a text"
      (click)="setActiveBar('Search')"
    />
  </div>
  <!-- <div class="tab" [class.active]="activeBar == 'Debug'">
    <img
      src="assets/debug-icon.svg"
      alt="debug"
      (click)="setActiveBar('Debug')"
    />
  </div> -->
  <div class="tab" [class.active]="activeBar == 'VCS'">
    <img
      src="assets/vcs-icon.svg"
      alt="version control system"
      (click)="setActiveBar('VCS')"
    />
  </div>
</div>
<div>
  <img src="assets/profile-icon.svg" alt="view profile" />
  <img src="assets/setting-icon.svg" alt="settings" />
</div>
