$dark-text-color: #a8a8a8;

%flex-display {
  display: flex;
  align-items: center;
}

:host {
  width: 100%;
  background: #000;
  @extend %flex-display;
  justify-content: space-between;
  padding-block: 0.2rem;

  .menus {
    @extend %flex-display;
    margin: 0;
    gap: 1rem;
    padding-left: 1rem;
    font-size: 0.7rem;
    li {
      list-style: none;
      color: $dark-text-color;
    }
  }
  .layout-options {
    @extend %flex-display;
    gap: 1rem;
    img {
      width: 1.5rem;
    }
  }
}
