$dark-text-color: #a8a8a8;

%flex-display {
  display: flex;
  align-items: center;
}

:host {
  width: 100%;
  background: #000;
  @extend %flex-display;
  justify-content: space-between;
  padding-block: 0.2rem;

  .menus {
    @extend %flex-display;
    margin: 0;
    padding-left: 1rem;
    font-size: 0.7rem;
    .line {
      border-bottom: solid 1px #bbbbbb;
    }
    input {
      position: absolute;
      left: 0;
      width: 100%;
      opacity: 0;
    }
    .choices {
      display: flex;
      flex-direction: column;
      position: absolute;
      background: #1d1d1d;
      padding: 0.2rem;
      width: 13rem;
      border-radius: 2px;
      box-shadow: #000000 1px 1px 6px 1px;
      span {
        padding: 0.2rem;
        &:hover {
          background: #000;
          cursor: pointer;
        }
      }
    }
  }
  .layout-options {
    @extend %flex-display;
    gap: 1rem;
    img {
      width: 1.5rem;
    }
  }
}
