$dark-text-color: #a8a8a8;

%flex-display {
  display: flex;
  align-items: center;
}

:host {
  width: 100%;
  background: #000;
  .menus {
    @extend %flex-display;
    gap: 2rem;
    li {
      list-style: none;
      color: $dark-text-color;
    }
  }
  .layout-options {
    @extend %flex-display;
    gap: 1rem;
    img {
      width: 2rem;
    }
  }
}
