:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .center {
    display: flex;
    height: 100%;
  }
  .mid {
    width: 100%;
  }
  .left {
    display: flex;
  }
}
