.side-bar {
  display: flex;
  background: #1a181a;
  height: 100%;
  width: 15rem;
  min-height: 6rem;
  border-right: solid 1px #1f1f1f;
}
.active-bar {
  background: #1a181a;
  border: solid 1px #1f1f1f;
  border-right: none;
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  // width: 100%;
  // height: 100%;
}
.resizer {
  height: 100%;
  width: 0.17rem;
  background: transparent;
  cursor: e-resize;
  &:hover {
    background: #ff1d5a;
  }
}
