:host {
  margin-left: 0.2rem;
  .folder-name {
    display: flex;
    align-items: center;
    gap: 0.12rem;
    .arrow-icon {
      width: 0.8rem;
      margin-right: 0.2rem;
    }
    img {
      width: 1rem;
    }
  }
  .contents {
    margin-left: 0.2rem;
  }
}
