<div class="top">
  <div>
    <span>EXPLORER</span>
  </div>
  <div class="icons">
    <img src="assets/add-new-file-icon.svg" alt="add new file" />
    <img src="assets/create-new-folder-icon.svg" alt="create new folder" />
    <img src="assets/refresh-icon.svg" alt="refresh" />
    <img
      src="assets/collapse-icon.svg"
      alt="collapse folders"
      title="collapse folders in explorer"
    />
  </div>
</div>
<ul class="folders-and-files">
  <li *ngFor="let file of files" class="file" (click)="openFile(file)">
    <img src="assets/file-icon.svg" alt="file icon" class="file-icon" />
    <span>
      {{ file.name }}
    </span>
  </li>
</ul>
