<div class="options">
    <span>

        SEARCH
    </span>
    <div>

    </div>
</div>
<div class="search">

    <div class="collapse-replace-input"></div>
    <div class="inputs">
        <div class="search-input">
            <input type="text" placeholder="Search">
            <div class="search-case">

                <div class="matchCase">Aa</div>
                <div class="match-whole-word">ab</div>
            </div>
        </div>
        <div class="replace-input">
            <input type="text" placeholder="Replace">
            <div class="replace-case">

                <div class="preserve-case">AB</div>
            </div>
            <div class="replace-all"></div>
        </div>
    </div>
</div>